body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    height: 100vh;
    flex-direction: column;
}

.bar {
    background-color: #00000081;
    width: 50%;
}

.progress {
    background-color: #000;
    width: 2%;
    color: white;
    text-align: center;
    line-height: 28px;
    height: 28px;
}

button {
    display: flex;
    margin-top: 2rem;
}